<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/stilus.css" />
        <title>Ügynökök</title>
    </head>
    <body>
        <nav>
            <li><a href="/">Admin</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/agent">Ügynök</a></li>
            <li><a href="/cart">Kosár</a></li>
        </nav>
        <h1>Ügynökök feltöltése</h1>
        <form>
            <label for="name">Név:</label>
            <input type="text" name="name" id="name" /><br />
            <label for="skill">Képesség:</label>
            <input type="text" name="skill" id="skill" /><br />
            <label for="image">Image:</label>
            <input type="text" name="image" id="image" /><br />
            <button type="submit" onclick="ugynokFeltolt()">Feldolgoz</button>
        </form>
        <h1>Ügynökök</h1>
        <% adatok.forEach(element => { %>
        <ol>
            <li><%= element.name %></li>
            <li><%= element.skill %></li>
            <li><%= element.image %></li>
            <button onclick="ugynokTorol('<%= element._id %>')">Töröl</button>
        </ol>
        <% }) %>
        <script src="./scripts/elso.js"></script>
    </body>
</html>
