<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/stilus.css" />
        <title>Admin felület</title>
    </head>
    <body>
        <nav>
            <li><a href="/">Admin</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/agent">Ügynök</a></li>
            <li><a href="/cart">Kosár</a></li>
        </nav>
        <p><a href="http://localhost:3000">Vissza a frontendre: </a></p>
    </body>
</html>
