<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/stilus.css" />
        <title>Felhasználók</title>
    </head>
    <body>
        <nav>
            <li><a href="/">Admin</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/agent">Ügynök</a></li>
            <li><a href="/cart">Kosár</a></li>
        </nav>
        <h1>Felhasználók</h1>
        <% adatok.forEach(element => { %>
        <ol>
            <li><%= element.username %></li>
            <li><%= element.email %></li>
            <li><%= element.password %></li>
            <button onclick="torol('<%= element._id %>')">Töröl</button>
        </ol>
        <% }) %>
        <script src="./scripts/elso.js"></script>
    </body>
</html>
