.sorki {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 18%;
  }

  .sorki p {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    hyphens: auto;
    line-height: 170%;
  }