.Navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 0 10px;
  animation: 0.5s ease-out 0s 1 slideInFromTopNavbar;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.left {
  display: flex;
}

.left a {
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

.right {
  display: flex;
  align-items: center;
}

.logo {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 0px;
}

@keyframes slideInFromTopNavbar {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.igen {
  margin-top: 15px;
}

button {
  color: black;
  background-color: white;
  border-style: none;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}
